.title{
  font-family: 'Assistant', sans-serif;
  font-size: 4rem;
  color: gray;
}
.form-control{
  border-color:silver;
  border-radius:0;
}
.btn-outline-secondary{
  border-radius: 0px;
  border-style: solid;
  border-color: silver;
}
.btn-minus{
  position: relative;
  height: 1.3rem;
  width: 1.3rem;
}
.minus-icons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
}


